.header {
  background: url('../assets/img/noise_transparent@2x.png'), var(--bg-gradient-header);
}

.header-wrapper {
  padding-top: 30px;
  padding-bottom: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 92px;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo-title {
  margin-bottom: 10px;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--orange-border);
}

.logo-subtitle {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--link-gray);
}

.navigation {
  display: flex;
  justify-content: space-between;
  column-gap: 35px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
}

@media only screen and (max-width: 760px) {
  .nav {
    overflow-x: hidden;
    justify-content: space-between;
  }

  .navigation {
    transform: translateX(300px);
    display: none;
  }

  .burger-menu {
    box-sizing: border-box;
    width: 30px;
    height: 22px;

    border-top: solid 2px var(--orange-border);
    border-bottom: solid 2px var(--orange-border);
    background: linear-gradient(transparent 45%, var(--orange-border) 45%, var(--orange-border) 55%, transparent 55%);
  }
}

.navigation-link {
  color: var(--middle-gray);
}

.navigation-link:hover {
  color: var(--light-gray);
}

.active-page {
  border-bottom: var(--orange-border) solid 3px;
}

.active-page > .navigation-link {
  color: var(--light-gray);
  cursor: default;
}

.header-hero {
  display: flex;
  justify-content: space-between;
}

.hero-content {
  width: 460px;

  row-gap: 42px;
}

.hero-title {
  margin-top: 10.1rem;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 130%;
  color: #ffffff;
  text-align: left;
  letter-spacing: normal;
}

.hero-text {
  color: var(--middle-gray);
}

.hero-link {
  width: 207px;

  background-color: var(--orange-border);
}

.hero-link:hover {
  color: currentColor;
}

.hero-img {
  width: 58%;
  height: auto;
}

@media only screen and (max-width: 990px) {
  .hero-title {
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    margin-bottom: 60px;
  }

  .header-hero {
    flex-direction: column;
    margin: auto;
  }

  .hero-content {
    max-width: 460px;
    margin: 0 auto 100px;
  }

  .hero-img {
    width: 569px;
    align-self: flex-end;
  }
}

@media only screen and (max-width: 620px) {
  .hero-img {
    width: 81.25%;
  }

  .hero-content {
    max-width: 93.75%;
  }
}

@media only screen and (max-width: 390px) {
  .hero-title {
    font-size: 25px;
    text-align: center;
  }
}
