.about-wrapper {
  max-width: 850px;
  margin: auto;
  padding-left: 0;
  padding-right: 0;

  display: flex;
  justify-content: space-between;
}

.about-content {
  max-width: 430px;
  margin-top: 14px;

  row-gap: 1.5rem;

  color: var(--text-gray);
}

@media only screen and (max-width: 900px) {
  .about-wrapper {
    max-width: 90%;
  }
}

.about-title {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .about-pets {
    order: 2;
    padding-top: 80px;
  }

  .about-content {
    margin-top: 0;
  }
}

@media only screen and (max-width: 390px) {
  .about-pets {
    width: 260px;
    padding-top: 42px;
  }

  .about-title {
    text-align: center;
  }

  .about-content {
    row-gap: 1.4rem;
    padding: 0 9px;
    text-align: justify;
  }
}

.pets {
  background-color: var(--bg-gray);
}

.pets-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.pets-title {
  max-width: 400px;
  margin: auto;
}

.slider-container {
  position: relative;

  max-width: 990px;
  max-height: 435px;

  margin: auto;
  overflow-x: hidden;
}

.js-slider {
  position: relative;
  left: -1080px;
}

.pets-list {
  display: flex;
  margin: auto;
  column-gap: 90px;
}

.pets-item {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;

  min-width: 270px;
  padding-bottom: 30px;

  border-radius: 9px;
  background-color: var(--light-gray);
  list-style: none;

  cursor: pointer;
  transition: 0.3s;
}

.pets-item:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-item:hover > .pet-btn {
  background-color: var(--orange-border);
}

.pet-img {
  width: 270px;
  height: auto;
  border-radius: 9px 9px 0 0;
}

.pet-text {
  font-size: 1.25rem;
  letter-spacing: 0.06em;
}

.pet-btn {
  width: 11.5rem;

  font-size: 1rem;
}

.slider-btn {
  position: absolute;
  top: calc(50% - 26px);
}

.prev {
  left: 40px;

  background: url('../assets/icons/Arrow.svg') no-repeat center;
}

.next {
  right: 40px;

  background: url('../assets/icons/Arrow.svg') no-repeat center;
  transform: rotate(180deg);
}

.all-pet-btn {
  width: 16.3rem;
  margin: auto;

  color: var(--text-black);

  background-color: var(--orange-border);
}

.all-pet-btn:hover {
  color: var(--text-black);

  background-color: var(--orange-btn);
}

@keyframes move-right {
  from {
    left: -1080px;
  }
  to {
    left: -2160px;
  }
}

@keyframes move-left {
  from {
    left: -1080px;
  }
  to {
    left: 0px;
  }
}

@media only screen and (max-width: 1180px) {
  .pets-list {
    max-width: 690px;
  }

  .js-slider {
    left: -720px;
  }

  @keyframes move-right {
    from {
      left: -720px;
    }
    to {
      left: -1440px;
    }
  }

  @keyframes move-left {
    from {
      left: -690px;
    }
    to {
      left: 0px;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .pets-list {
    max-width: 600px;
  }
}

@media only screen and (max-width: 768px) {
  .slider-container {
    width: 580px;
  }

  .pets-list {
    column-gap: 40px;
  }

  .js-slider {
    left: -620px;
  }

  @keyframes move-right {
    from {
      left: -620px;
    }
    to {
      left: -1240px;
    }
  }

  @keyframes move-left {
    from {
      left: -620px;
    }
    to {
      left: 0px;
    }
  }
}

@media only screen and (max-width: 730px) {
  .slider-container {
    width: 310px;
  }

  .js-slider {
    left: -290px;
  }

  @keyframes move-right {
    from {
      left: -290px;
    }
    to {
      left: -600px;
    }
  }

  @keyframes move-left {
    from {
      left: -290px;
    }
    to {
      left: 20px;
    }
  }
}

@media only screen and (max-width: 465px) {
  .slider-btn {
    top: calc(100% + 20px);
  }

  .prev {
    left: 49px;
  }

  .next {
    right: 49px;
  }

  .all-pet-btn {
    margin-top: 73px;
  }
}

@media only screen and (max-width: 390px) {
  .pets-wrapper {
    row-gap: 42px;
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 2s;
}

.transition-left {
  animation-name: move-left;
  animation-duration: 2s;
}

.help-wrapper {
  padding-left: 0;
  padding-right: 0;

  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.help-list {
  max-width: 1030px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  column-gap: 7.5rem;
  row-gap: 3.4rem;
  justify-content: center;
}

.help-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Georgia';
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--header-gray);

  box-sizing: border-box;
  min-width: 60px;
  height: 113px;
  padding-top: 90px;

  list-style: none;
}

@media only screen and (max-width: 1080px) {
  .help-list {
    max-width: 90%;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 768px) {
  .help-list {
    max-width: 630px;
    gap: 55px 60px;
  }

  .help-item {
    width: 170px;
  }
}

@media only screen and (max-width: 465px) {
  .help-list {
    max-width: 290px;
    gap: 30px;
    justify-content: space-between;
  }

  .help-item {
    width: 130px;
    font-size: 15px;
  }
}

.help-item::before {
  position: absolute;
  top: 0;

  width: 60px;
  height: 60px;

  text-align: center;
}

.food::before {
  content: '';
  background-image: url('../assets/icons/pet.svg');
}

.transportation::before {
  content: '';
  background-image: url('../assets/icons/transportation.svg');
}

.toys::before {
  content: '';
  background-image: url('../assets/icons/toys.svg');
}

.cups::before {
  content: '';
  background-image: url('../assets/icons/cups.svg');
}

.shampoos::before {
  content: '';
  background-image: url('../assets/icons/shampoos.svg');
}

.vitamins::before {
  content: '';
  background-image: url('../assets/icons/vitamins.svg');
}

.medicines::before {
  content: '';
  background-image: url('../assets/icons/medicines.svg');
}

.leashes::before {
  content: '';
  background-image: url('../assets/icons/leashes.svg');
}

.sleeping::before {
  content: '';
  background-image: url('../assets/icons/sleeping.svg');
}

@media only screen and (max-width: 465px) {
  .help-wrapper {
    row-gap: 39px;
  }

  .help-list {
    gap: 4px;
  }

  .help-item {
    padding-top: 71px;
  }

  .help-item::before {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}

.donation {
  background-color: var(--bg-gray);
}

.donation-wrapper {
  max-width: 995px;
  margin: auto;

  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 960px) {
  .donation-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .donation-img {
    order: 2;
  }
}

.donation-content {
  max-width: 380px;

  row-gap: 15px;
}

.donation-img {
  margin: 10px 0;
}

@media only screen and (max-width: 768px) {
  .donation-img {
    padding-top: 60px;
    margin: 0;
  }
}

.donation-title {
  text-align: left;
}

.donation-btn {
  position: relative;

  width: 349px;
  height: 43px;
  padding-left: 48px;

  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;

  border-radius: 9px;
  background-color: var(--orange-border);
}

.donation-btn::after {
  content: url('../assets/icons/credit-card.svg');
  position: absolute;
  top: 10px;
  left: 15px;
}

.donation-subtitle {
  font-family: 'Georgia';
  letter-spacing: 0.06em;
}

.donation-text {
  margin: 6px 0 0;

  font-family: 'Arial';
  font-style: italic;
  font-size: 12px;
  line-height: 150%;

  color: #b2b2b2;
}

@media only screen and (max-width: 465px) {
  .donation-img {
    width: 81.25%;
  }

  .donation-content {
    width: 93.75%;
    align-items: center;
  }

  .donation-title,
  .donation-subtitle {
    text-align: center;
    color: var(--header-gray);
  }

  .donation-subtitle {
    letter-spacing: 0;
  }

  .donation-btn {
    width: 281px;
    padding: 10px 15px 10px 55px;

    font-size: 15px;
    color: var(--header-gray);
  }

  .donation-text {
    text-align: justify;
  }
}

@media only screen and (max-width: 390px) {
  .donation-wrapper {
    padding-top: 17px;
  }

  .donation-content {
    row-gap: 19px;
  }

  .donation-text {
    margin: 0;
  }

  .donation-img {
    width: 260px;
    padding-top: 45px;
  }
}

/* modal-window */

.modal-img {
  min-width: 31.25rem;
  height: auto;

  border-radius: 9px 0 0 9px;
}

.modal-content {
  padding: 50px 20px 88px 29px;
}

.modal-title {
  margin-bottom: 10px;

  text-align: left;
}

.modal-subtitle {
  margin-bottom: 2.5rem;

  font-size: 1, 25rem;
  line-height: 115%;
}

.modal-text {
  margin-bottom: 2.5rem;

  line-height: 110%;
}

.modal-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  line-height: 110%;
}

.modal-key {
  font-weight: 700;
}

.modal__cross {
  position: absolute;
  top: -52px;
  right: -52px;

  width: 52px;
  height: 52px;

  background: url('../assets/icons/close.svg') no-repeat center;
  cursor: pointer;
}

.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: 0.3s all;
}

.modal {
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;

  width: 56.25rem;

  display: flex;

  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.06em;
  color: #000000;

  opacity: 0;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  background-color: var(--light-gray);
  border-radius: 9px;

  visibility: hidden;
  transform: translate(-50%, -50%);
  transition: 0.3s all;
}

@media only screen and (max-width: 1080px) {
  .modal {
    width: 82%;
  }

  .modal-img {
    min-width: 55.5%;
    height: auto;
    margin-right: 9px;
  }

  .modal-content {
    padding: 10px 10px 37px 0;
  }

  .modal-subtitle,
  .modal-text {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .modal-img {
    min-width: 350px;
    height: 350px;
  }

  .modal-list {
    padding-left: 10px;
  }

  .modal-subtitle,
  .modal-text,
  .modal-list {
    font-size: 13px;
  }
}

@media only screen and (max-width: 740px) {
  .modal-content {
    padding-bottom: 10px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 678px) {
  .modal {
    width: 75%;
  }
  .modal-img {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .modal__cross {
    position: absolute;
    top: -52px;
    right: -32px;
  }

  .modal-img {
    display: none;
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

html.stop-scroll {
  overflow: hidden;
}
