.header {
  background: #ffffff;
}

.header-wrapper {
  padding: 30px 2.5rem;
}

.logo-title,
.navigation-link {
  color: var(--header-gray);
}

.logo:hover > .logo-title,
.logo:hover > .logo-subtitle {
  text-shadow: 0 0 3px var(--orange-border);
}

.navigation-link:hover,
.active-page > .navigation-link,
.logo-subtitle {
  color: var(--text-black);
}

.nav {
  margin-bottom: 0;
}

.allpets {
  max-width: 100%;

  flex-wrap: wrap;
  gap: 30px 2.5rem;
  justify-content: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.pagination-current,
.pagination-current:hover {
  background-color: var(--orange-border);
  border-color: var(--orange-border);
}

@media only screen and (max-width: 768px) {
  .header-wrapper {
    padding: 30px;
  }

  .pets-wrapper {
    padding-bottom: 78px;
    row-gap: 30px;
  }

  .allpets {
    padding-bottom: 11px;
  }

  .pets-item:nth-last-child(-n + 2) {
    display: none;
  }
}
