:root {
  --light-side: #adff2f;
  --dark-side: #228b22;
  --middle-side: #32cd32;
  --middle-side_hover: #228b2280;

  --dark-light-side: #6a5acd;
  --dark-dark-side: #4b0082;
  --dark-middle-side: #483d8b;
  --dark-middle-side_hover: #006400;
}

body {
  box-sizing: border-box;
  height: 98vh;
  background: url('./assets/forest.jpeg') no-repeat center;
  background-size: cover;
}

body.dark {
  background: url('./assets/forest-dark.jpeg') no-repeat center;
  background-size: cover;
}

.main {
  width: 75vw;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  align-items: center;
}

.greeting {
  width: 100%;
  padding: 30px;
  margin-bottom: 50px;

  color: #ffffff;
  border: 5px solid var(--dark-side);
  background-color: var(--dark-side);
}

.dark .greeting {
  color: #6495ed;
  border: 5px solid var(--dark-dark-side);
  background-color: var(--dark-dark-side);
}

.game-info {
  width: 316px;
  padding: 30px;
  order: 1;

  text-align: justify;

  background-color: transparent;
  font-size: 1rem;

  border-radius: 2px;
}

.game-info.active {
  color: #ffffff;
  background-color: var(--dark-side);
}

.dark .game-info.active {
  color: #6495ed;
  background-color: var(--dark-dark-side);
}

.game-container {
  box-sizing: border-box;
  width: 316px;
  padding: 5px;

  border: 5px solid;
  border-left-color: var(--dark-side);
  border-bottom-color: var(--dark-side);
  border-right-color: var(--light-side);
  border-top-color: var(--light-side);

  background-color: var(--middle-side);
}

.dark .game-container {
  border-left-color: var(--dark-dark-side);
  border-bottom-color: var(--dark-dark-side);
  border-right-color: var(--dark-light-side);
  border-top-color: var(--dark-light-side);

  background-color: var(--dark-middle-side);
}

.game-top {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;

  border: 3px solid;
  border-right-color: var(--dark-side);
  border-top-color: var(--dark-side);
  border-left-color: var(--light-side);
  border-bottom-color: var(--light-side);
}

.dark .game-top {
  border-right-color: var(--dark-dark-side);
  border-top-color: var(--dark-dark-side);
  border-left-color: var(--dark-light-side);
  border-bottom-color: var(--dark-light-side);
}

.game-top_btn {
  height: 100%;
  padding: 5px 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--middle-side);
  border-left-color: var(--dark-side);
  border-bottom-color: var(--dark-side);
  border-right-color: var(--light-side);
  border-top-color: var(--light-side);
}

.dark .game-top_btn {
  background-color: var(--dark-middle-side);
  border-left-color: var(--dark-dark-side);
  border-bottom-color: var(--dark-dark-side);
  border-right-color: var(--dark-light-side);
  border-top-color: var(--dark-light-side);
}

.game-top_btn:hover {
  background-color: var(--middle-side_hover);
  cursor: pointer;
}

.dark .game-top_btn:hover {
  background-color: var(--dark-middle-side_hover);
}

.amount,
.timer {
  flex-grow: 1;
}

.restart {
  width: 40px;
  height: 40px;

  background-image: url('./assets/squirrel.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.game-field {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.game-cell {
  box-sizing: border-box;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: solid 2px;
  border-left-color: var(--dark-side);
  border-bottom-color: var(--dark-side);
  border-right-color: var(--light-side);
  border-top-color: var(--light-side);

  background-color: var(--middle-side);
}

.dark .game-cell {
  border-left-color: var(--dark-dark-side);
  border-bottom-color: var(--dark-dark-side);
  border-right-color: var(--dark-light-side);
  border-top-color: var(--dark-light-side);

  background-color: var(--dark-middle-side);
}

.game-cell.opened {
  border-right-color: var(--dark-side);
  border-top-color: var(--dark-side);
  border-left-color: var(--light-side);
  border-bottom-color: var(--light-side);
}

.dark .game-cell.opened {
  border-right-color: var(--dark-dark-side);
  border-top-color: var(--dark-dark-side);
  border-left-color: var(--dark-light-side);
  border-bottom-color: var(--dark-light-side);
}

.game-cell.marked {
  background-image: url('./assets/banner.png');
  background-position: center;
  background-size: contain;
}

.nut.opened {
  background-image: url('./assets/icons8-nut-64.png');
  background-position: center;
  background-size: contain;
}

.ruined {
  background-color: darkgreen;
}

.dark .ruined {
  background-color: #191970;
}
