body {
    width: 99vw;
    margin: auto;
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

main {
    height: calc(100vh - 225px);
    overflow: scroll;
    margin: auto;
    display: flex;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    height: 100px;
    align-items: center;
}
footer .link {
    text-decoration: none;
    color: #fff;
}
footer .link:hover {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
}
